header {
    grid-area: header;
    width: 100%;
    background-color: #fff;
    padding: 0 10px;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
  }
  
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header__izquierda {
    display: flex;
    align-items: center;
    flex: 0 1 380px;
  }
  
  .logo__imagen {
    width: 35px;
    margin-right: 15px;
    display: block;
  }
  
  .buscar {
    background-color: #edf3f8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 100%;
  }
  
  .buscar__icon {
    font-size: 1.2rem;
  }
  
  .buscar__input {
    width: 100%;
    background-color: transparent;
    padding: 8px;
    outline: none;
    border: 0;
  }
  

.navegacion {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navegacion__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.navegacion__item {
  display: flex;
  align-items: center;
}

.navegacion__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  text-align: center;
  font-weight: 400;
  min-height: 52px;
  min-width: 85px;
  position: relative;
  transition: 1s;
}

.navegacion__link:hover {
  color: #222;
}

.navegacion__icon {
  font-size: 1.5rem;
}

.navegacion__span {
  font-size: 0.8rem;
}

.navegacion__link::after {
  content: '';
  width: 0;
  /*100%*/
  height: 2px;
  background-color: #222;
  position: absolute;
  bottom: 0px;
  transition: width 0.3s;
}

.navegacion__link:hover::after,
.navegacion__link.active-link::after {
  width: 100%;
}

.online {
  position: relative;
}

.online::after {
  content: '';
  height: 7px;
  width: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  right: 0px;
  top: 0px;
  background-color: #41db51;
  position: absolute;
}