@import url(custom_propertiesindex.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f4f2ee;
  padding-top: 75px;

}
.content-layout {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 280px 1fr 280px;
  grid-template-areas:
    'sidebar main aside';
  gap: 1rem;
  height: 100vh;
  padding-top: calc(52px + 20px);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 10px;

}


