* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(211, 208, 208);

}



.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 10px;

}

header {

  height: 55px;
  grid-area: header;
  width: 100%;
  background-color: #fff;
  padding: 0 10px;
  top: 0;
  z-index: 100;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: fixed;

}

.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.container_header-izquierda {

  display: flex;
  align-items: center;
  flex: 0 1 380px;
  margin-top: 5px;

}

.logo img {
  width: 45px;
  margin-right: 15px;
  display: block;


}

.buscar {

  display: flex;
  /* display: block; */
  background-color: #edf3f8;
  align-items: center;
  padding: 0 15px;
  border-radius: 8px;
  width: 100%;
  /* margin: 0 auto; */


}

.search__icon {

  font-size: 1.2rem;

}


.input__buscar {


  width: 100%;
  padding: 8px;
  outline: none;
  border: 0;
  background-color: transparent;

}


.container_header {
  background-color: white;
  /* display: flex;
  align-items: center; */
}


.header__right {

  display: flex;
  /* align-items: end; */
  /* align-content: end;   */




}

.navegacion {

  display: flex;
  align-items: center;
  gap: 20px;
}

.lista_navegacion {

  display: flex;
  align-items: center;
  list-style: none;

}

.navegacion_item {

  display: flex;
  align-items: center;

}

.navegacion_link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  text-align: center;
  font-weight: 400;
  min-height: 52px;
  min-width: 85px;
  position: relative;
  transition: 1s;
  /* border-bottom: solid black 1px; */
  text-decoration: none;
  color: black;
}

.perfil {
  position: relative;
}

.online {
  position: relative;
}

.online::after {
  content: '';
  height: 7px;
  width: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  right: 0px;
  top: 0px;
  background-color: #41db51;
  position: absolute;
}

.user_perfil {

  width: 30px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}


.navegacion_item:hover {

  /* border-radius: solid black 2px; */
  border-bottom: solid 2px;
  transition: 0.5s;

}

.navegacion_item--border {

  /* border-radius: solid black 2px; */
  border-bottom: solid 2px;

}

.content-layout {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 280px 1fr 280px;
  grid-template-areas:
    'sidebar main aside';
  gap: 1rem;
  height: 100vh;
  padding-top: calc(52px + 20px);
}



/* sidebar */
.sidebar-perfil-link {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
}
.sidebar-perfil-link a {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 13px;
  border-left: 1px solid #ccc;
}

.sidebar-perfil-link a:first-child {
  border-left: 0;
}

.sidebar-perfil-link a img {
  width: 20px;
  margin-right: 10px;
}

.sidebar-rasgos {
  background-color: #dfdddd;
  padding: 5px 25px;
  margin: 12px 0;
}

.sidebar-rasgos h3 {
  color: #777;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 10px;
}

.sidebar-rasgos a {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #888;
  margin: 4px 0;
  padding: 4px 2px;
  transition: 0.5s;
}

.sidebar-rasgos a:hover {
  background-color: #edf3f8;
}

.sidebar-rasgos a i {
  font-size: 1.2rem;
  margin-right: 10px;
  font-weight: 600;
  color: #2874b1;
}

.sidebar-profile-box{


  background-color: #dfdddd;
}
.sidebar-profile-info{

  padding: 0 25px
}
.sidebar-profile-info img {
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
  padding: 4px;
  margin-top: -45px;
}

.sidebar-profile-info h1 {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.sidebar-profile-info h3 {
  font-size: 14px;
  font-weight: 500;
  color: #777;
}

.sidebar-profile-info ul {
  list-style: none;
  margin: 20px 0;
}

.sidebar-profile-info ul li {
  width: 100%;
  margin: 5px 0;
  font-size: 13px;
}

.sidebar-profile-info ul li span {
  float: right;
  color: #2874b1;
}



/* content */

.main {
  grid-area: main;
}

.creacion-publicacion{
  background-color: #fff;
}

.creacion-publi-input {
  padding: 20px 25px 10px;
  display: flex;
  align-items: flex-start;
}

.creacion-publi-input img {
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.creacion-publi-input textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: transparent;
  margin-top: 8px;
  resize: vertical;
  overflow: auto;
}

::placeholder {
  font-weight: 500;
}

.creacion-post-links {
  display: flex;
  align-items: flex-start;
}

.creacion-post-links li {
  list-style: none;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 13px;
  display: flex;
  flex-basis: 25%;
  align-items: center;
  justify-content: center;
}

.creacion-post-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  transition: 0.5s;
  color: #fff;
}

.creacion-post li a span {
  color: #222;
}

.creacion-post-links li a:hover {
  background-color: #ccc;
}

.creacion-post-links li:last-child {
  border-right: 0;
  background-color: #2874b1;
  color: #fff;
}

.creacion-post-links li i {
  font-size: 1.4rem;
  color: #2874b1;
  margin-right: 5px;
}
.short-by {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.short-by hr {
  flex: 1;
  border: 0;
  height: 1px;
  background-color: #ccc;
}

.short-by p {
  font-size: 13px;
  padding-left: 5px;
}

.short-by p span {
  font-weight: 600;
  cursor: pointer;
}

.short-by p span img {
  width: 12px;
  margin-left: 3px;
}

.publi {
  background-color: #fff;
  padding: 20px 25px 5px;
  margin: 5px 0 15px;
}

.publicacion-profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.publicacion-profile img {
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}

.publicacion-profile h1 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.publicacion-profile small {
  display: block;
  margin-top: -2px;
}

.publi p {
  font-size: 14px;
  margin-bottom: 15px;
}

.estado{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}

.estado div {
  display: flex;
  align-items: center;
}

.estadoinfo {
  display: flex;
  gap: 10px;
}

.estado {
  width: 15px;
  margin-right: -5px;
}

.like{
  margin-left: 10px;
}

.actividad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
}

.actividad div {
  display: flex;
  align-items: center;
}

.icon-user {
  width: 22px;
  border-radius: 50%;
}

.flecha-icon {
  width: 12px;
  border-left: 5px;
}

.publicacion img {
  width: 18px;
  margin-right: 8px;
}
