@import url(custom_properties.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-body);
  padding-top: var(--padding-top-container);
}

.container {
  max-width: var(--max-width-container);
  width: 100%;
  margin: auto;
  padding-top: 2px;
}

.content-profile {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: var(--sidebar-width) 1fr var(--sidebar-width);
  grid-template-areas:
    'sidebar main aside';
  gap: var(--grid-gap);
  height: 100vh;
}

.contenedor-perfil {
  top: 1px;
}
