* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background-color: #f4f2ee;
  
  }
  
  .content-layout {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 280px 1fr 280px;
    grid-template-areas:
      'sidebar main aside ';
    gap: 1rem;
    height: 100vh;
    padding-top: calc(52px + 20px);
  }
  
  
  
  .container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 10px;
  }
    header {
      grid-area: header;
      width: 100%;
      background-color: #fff;
      padding: 0 10px;
      top: 0;
      z-index: 100;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      position: fixed;
    }
    
    .header__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .header__izquierda {
      display: flex;
      align-items: center;
      flex: 0 1 380px;
    }
    
    .logo__imagen {
      width: 35px;
      margin-right: 15px;
      display: block;
    }
    
    .buscar {
      background-color: #edf3f8;
      border-radius: 8px;
      display: flex;
      align-items: center;
      padding: 0 15px;
      width: 100%;
    }
    
    .buscar__icon {
      font-size: 1.2rem;
    }
    
    .buscar__input {
      width: 100%;
      background-color: transparent;
      padding: 8px;
      outline: none;
      border: 0;
    }
    
  
  .navegacion {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .navegacion__list {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navegacion__item {
    display: flex;
    align-items: center;
  }
  
  .navegacion__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    text-align: center;
    font-weight: 400;
    min-height: 52px;
    min-width: 85px;
    position: relative;
    transition: 1s;
  }
  
  .navegacion__link:hover {
    color: #222;
  }
  
  .navegacion__icon {
    font-size: 1.5rem;
  }
  
  .navegacion__span {
    font-size: 0.8rem;
  }
  
  .navegacion__link::after {
    content: '';
    width: 0;
    /*100%*/
    height: 2px;
    background-color: #222;
    position: absolute;
    bottom: 0px;
    transition: width 0.3s;
  }
  
  .navegacion__link:hover::after,
  .navegacion__link.active-link::after {
    width: 100%;
  }
  
  .online {
    position: relative;
  }
  
  .online::after {
    content: '';
    height: 7px;
    width: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0px;
    top: 0px;
    background-color: #41db51;
    position: absolute;
  }
  
  .profile {
    position: relative;
  }
  .profile-main{

    grid-area: main;

  }
  .profile {
    width: 30px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;
  }
  
  
  .content-layout {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 280px 1fr 280px;
    grid-template-areas:
      'sidebar main aside';
    gap: 1rem;
    height: 100vh;
    padding-top: calc(52px + 20px);
  }
  
  .profile-menuwrap {
    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  
  .profile-menuwrap .open-menu {
    max-height: 400px;
  }
  
  .profilemenu {
    background-color: #222;
    color: #fff;
    padding: 20px;
    margin: 10px;
  }
  
  .info {
    display: flex;
    align-items: center;
  }
  
  .info img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .info h3 {
    font-weight: 500;
    margin-bottom: -7px;
  }
  
  .info a {
    color: #c9dbf8;
    font-size: 13px;
  }
  
  .profilemenu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 15px 0 10px;
  }
  
  .profile-menu-link {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 12px 0;
    font-size: 14px;
  }
  
  .profile-menu-link p {
    width: 100%;
  }
  
  .profile-menu-link img {
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
  }
  /* Estilos generales para el menú desplegable */
  .profile-menuwrap {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(37, 37, 37);
  
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    z-index: 100;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .profilemenu {
    padding: 20px;
    color: #ffffff; /* Texto blanco */
    background-color: rgb(37, 37, 37);
  }
  
  .profilemenu .info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profilemenu .info img {
    border-radius: 50%; /* Imagen de perfil circular */
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .profilemenu h3 {
    margin: 0;
    font-size: 16px;
    color: #ffffff; /* Texto blanco */
  }
  
  .profilemenu a {
    color: white; /* Color del enlace */
    text-decoration: none;
    font-size: 12px;
  }
  /* .perfilito{
  
   color:  #c9dbf8;
  
  } */
  
  .profilemenu hr {
    border: 0.5px solid white;
    margin: 10px 0;
  }
  
  .profile-menu-link {
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }
  
  .profile-menu-link:hover {
    background-color: #2e2e2e; /* Cambio de color al pasar por encima */
    border-radius: 4px;
  }
  
  .profile-menu-link img {
    width: 24px; /* Tamaño del icono */
    margin-right: 15px;
  }
  
  .profile-menu-link p {
    flex: 1;
    margin: 0;
    font-size: 15px;
  }
  
  .profile-menu-link span {
    color: #0077b5; /* Flecha con el mismo color del enlace */
  }
  .menu-toggle {
    display: none;
  }
  
  /* Estilos para mostrar el menú cuando el checkbox está marcado */
  .menu-toggle:checked ~ .profile-menuwrap {
    display: block;
    max-height: 500px; /* Ajusta según el contenido */
  }
  
  .profile img {
    cursor: pointer;
  }
  

/* .profile-container */

.profile-main{

padding-top: 70px;

}
.contenedor-perfil {
  background-color: #fff;

}

.contenedor-perfil__inn{
  padding: 0 4% 10px;
}

.photo {
  width: 150px;
  border-radius: 50%;
  margin-top: -75px;
  padding: 5px;
  background-color: #fff;
}

.contenedor-perfil h1 {
  font-size: 28px;
  font-weight: 600;
  color: #222;
}

.contenedor-perfil b {
  font-weight: 500;
}

.contenedor-perfil p {
  margin-top: 5px;
}

.contenedor-perfil p a {
  color: #2874b1;
}

.conexion-mutua {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.conexion-mutua img {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.boton__perfil {
  margin: 20px 0;
}

.boton__perfil a {
  display: inline-flex;
  align-items: center;
  background-color: #e4e6eb;
  padding: 6px 15px;
  border-radius: 4px;
  margin-right: 10px;
}

.boton__perfil a img {
  width: 18px;
  margin-right: 5px;
}

.boton__perfil .boton__principal {
  background-color: #2874b1;
  color: #fff;
}

.descripcion__perfil {
  background-color: #fff;
  padding: 20px 4% 30px;
  margin: 12px 0;
}

.descripcion__perfil h2 {
  color: #333;
  margin: 10px 0 20px;
}

.ver__mas-ingles {
  display: block;
  text-align: right;
  font-size: 15px;
}

.row__perfil {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}

.row__perfil img {
  width: 50px;
  margin-right: 25px;
  margin-top: 5px;
}

.row__perfil div {
  width: 100%;
}

.row__perfil h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.row__perfil b {
  display: block;
  font-weight: 500;
  font-size: 15px;
}

.row__perfil p {
  margin-top: 15px;
}

.row__perfil hr {
  border: 0;
  border-bottom: 1px solid #999;
  margin-top: 10px;
}

.experiencia__laboral {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-weight: 500;
}

.experiencia__laboral img {
  width: 20px;
  margin-left: 8px;
}

.aprendizajes {
  display: inline-block;
  margin: 10px 5px;
  padding: 6px 18px;
  border: 1px solid #777;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
}

.idioma {
  display: inline-block;
  margin: 10px 5px;
  padding: 6px 18px;
  background-color: #e4e6eb;
  font-size: 12px;
  font-weight: 500;
}

/*
----------------------
Profile sidebar
----------------------
*/


.aside {
  grid-area: aside;
  padding-top: 58px;
}


.ad {
  background-color: #fff;
  padding: 15px 25px;
  text-align: center;
  margin: 12px 0;
  font-size: 12px;
}

.ad img {
  width: 60px;
  border-radius: 50%;
  margin: 4px;
}

.ad small {
  float: right;
  font-weight: 500;
}

.ad p {
  margin-top: 30px;
  margin-bottom: 10px;
}

.ad b {
  display: block;
  font-weight: 500;
  margin-top: 10px;
}

.ad-link {
  display: inline-block;
  border: 1px solid #2874b1;
  border-radius: 30px;
  padding: 5px 15px;
  color: #2874b1;
  font-weight: 500;
  margin: 20px auto 10px;
}

.links {
  padding: 15px 25px;
  text-align: center;
}

.links a {
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
}

.msg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 500;
}

.msg img {
  width: 18px;
  margin-right: 4px;
}
/*
------------------------
media query for small screen
------------------------
*/

@media (width < 1100px) {

  .content-layout {
    grid-template-columns: 260px 1fr;
    grid-template-areas:
      'sidebar main';
    gap: 1rem;
    height: 100vh;
    padding-top: calc(52px + 20px);
  }

  .aside {
    display: none;
  }
}

@media (width < 770px) {
  .search {
    background-color: transparent;
    width: auto;
    padding: 0;
  }

  .search__input {
    width: 0;
    padding: 0;
  }

  .navigation__link {
    min-width: 45px;
  }

  .navigation__span {
    display: none;
  }

  .content-layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      'sidebar'
      'main';
    gap: 1rem;
    height: 100vh;
    padding-top: calc(52px + 20px);
  }

  .post-activity-link {
    flex-direction: column;
  }

  .post-activity-link img{
    margin-right: 0;
  }
   .content-profile {
    grid-template-columns: 1fr;
    grid-template-areas:
      'profile-main'
      'profile-sidebar'
      'profile-footer';
  }
}

.content-profile {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 280px 1fr 280px;
    grid-template-areas:
      'sidebar main aside ';
    gap: 1rem;
    height: 100vh;
    padding-top: calc(52px + 20px);
  }

    .container {
        max-width: 1200px;
        width: 100%;
        margin: auto;
        padding: 0 10px;
    }